@import url("https://fonts.googleapis.com/css?family=Oswald:200,400&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body {
  font-family: "Oswald", sans-serif; }

a {
  text-decoration: none !important; }

.top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 999;
  height: 20vh;
  width: 100vw;
  transition: .3s; }
  .top a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    width: 120px;
    text-align: center;
    padding: 10px; }
    .top a:hover {
      background: #aa55ce;
      border-radius: 10px; }
    .top a.logo {
      position: absolute;
      z-index: 999;
      background: url("../img/logo-white.png") no-repeat;
      background-size: cover;
      left: 50px;
      width: 135px;
      height: 35px; }

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 55px;
  transition: .3s; }

.content {
  height: 100vh;
  background: #fff; }
  .content.home {
    background: url("../img/bg/home.jpeg") no-repeat;
    background-size: cover; }
    .content.home:before {
      content: "";
      display: block !important;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0; }
    .content.home .form {
      text-align: center; }
    .content.home .title .title-text {
      height: 384px; }
      .content.home .title .title-text h1.home {
        text-align: left;
        color: #fff;
        font-size: 70px;
        font-weight: 700;
        font-family: "Montserrat", sans-serif; }
        .content.home .title .title-text h1.home company {
          color: #aa55ce; }
        .content.home .title .title-text h1.home:after {
          content: "";
          display: block;
          position: absolute;
          left: 240px;
          top: -20px;
          border: 13px solid rgba(255, 255, 255, 0.1);
          width: 20vw;
          height: 25vh; }
    .content.home .title .phone .btn-call {
      background: #fff;
      color: #aa55ce;
      position: absolute;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 300px;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: 700;
      font-size: 20px;
      transition: .3s; }
      .content.home .title .phone .btn-call:hover {
        background: #aa55ce;
        color: #fff; }
        .content.home .title .phone .btn-call:hover:before {
          color: #aa55ce;
          background: #fff; }
      .content.home .title .phone .btn-call:before {
        content: "\f095";
        font-family: "FontAwesome";
        font-size: 25px;
        position: absolute;
        top: -1px;
        left: -2px;
        height: 50px;
        width: 60px;
        background: #aa55ce;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: .3s; }
    .content.home .title .book .btn-book {
      background: #aa55ce;
      color: #fff;
      position: absolute;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 300px;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: 700;
      font-size: 20px;
      transition: .3s; }
      .content.home .title .book .btn-book:hover {
        background: #fff;
        color: #aa55ce; }
        .content.home .title .book .btn-book:hover:after {
          color: #fff;
          background: #aa55ce; }
      .content.home .title .book .btn-book:after {
        content: "-10 \f295";
        font-family: "FontAwesome", "Oswald", sans-serif;
        font-size: 18px;
        position: absolute;
        top: -1px;
        right: -2px;
        height: 50px;
        width: 60px;
        background: #fff;
        color: #aa55ce;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: .3s; }
  .content.news {
    height: 50vh;
    background: #fff; }
  .content.payments {
    color: #fff;
    height: 50vh;
    text-align: center;
    background: url("../img/bg/payments.jpeg") no-repeat;
    background-size: cover;
    background-position: 0 -400px; }
    .content.payments:before {
      content: "";
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 100vw;
      height: 100vh; }
    .content.payments .pay {
      text-align: center; }
  .content.company {
    background: url("../img/bg/podjetja.jpg") no-repeat;
    background-size: cover; }

/*# sourceMappingURL=style.css.map */