@import url('https://fonts.googleapis.com/css?family=Oswald:200,400&subset=cyrillic');

html, body{
    font-family: 'Oswald', sans-serif;
}
.content {
    height: 100vh;
    background: red;
}

h1.home {
    text-align: center;
}

div.home {
    background: url("../img/bg/pexels-photo-157080.jpeg") no-repeat;
    background-size: cover;
}
