@import "colors";

.btn-read-more-light{
	color: $white;
	border: 1px solid $white;
}
.btn-read-more-dark{
	color: $dark;
	border: 1px solid $dark;
	&:hover{
		color: #000;
		border: 1px solid #000;
	}
}

.back{
	position: absolute;
	display: block;
	color: $white;
	border: 2px solid $white;
	font-size: 20px;
	top: 30px;
	left: 30px;
	padding: 10px;
	&:before{
		content: "\f053";
		font-family: $fa;
	}
	&:hover{
		color: #aa55cc;
	}
}