$color:  #aa55ce;
$bg-color: #fff;
$white: #fff;
$dark: #1c1c1c;


$transparent-white: rgba(255,255,255, 0.3);
$transparent-dark: rgba(0,0,0, 0.3);

$facebook-color: #3b5998;
$instagram-color: #fbad50;
$twitter-color: #00b6f1;
$google-plus-color: #dd4b39;
$whatsapp-color: #128c7e;
$skype-color: #00aff0;
$viber-color: #59267c;

$bg-header-card:#174c71;