@import url('https://fonts.googleapis.com/css?family=Oswald:200,400&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
