@import "_fonts";

$width: 100vw;
$height: 100vh;

$Oswald: 'Oswald', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$fa: 'FontAwesome';

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: #fff;
}

$nav-bg: #2b3033;
$blue: #5fc7ea;
$red: #e68568;
$yellow: #e6d068;
$green: #68e6ac;
$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$content-animation: scale(0.7) rotateX(-230deg);