
@import "modules/variables";
@import "modules/colors";
   
html, body{
    font-family: $Oswald;
}
a{
	text-decoration: none!important;
}

.top{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	z-index: 999;
	height: $height/5;
	width: $width;
	transition: .3s;
	
	a{
		color: $bg-color;
		font-size: 20px;
		margin: 0 10px;
		width: 120px;
		text-align: center;
		padding: 10px;
		&:hover{
			background: $color;
			border-radius: 10px;
		}
		&.logo{
			position: absolute;
			z-index: 999;
			background: url("../img/logo-white.png") no-repeat;
			background-size: cover;
			left: 50px;
			width: 135px;
			height: 35px;

		}
		
	}
}
.fix-nav{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0, .7);
	height: 55px;
	transition: .3s;
	
}
.content {
    height: $height;
    background: $bg-color;
    
    &.home{
        background: url("../img/bg/home.jpeg") no-repeat;
        background-size: cover;
        &:before{
            content: "";
            display: block!important;
            position: absolute;
            width: $width;
            height: $height;
            background: rgba(0,0,0, 0.5);
            top: 0;
            left: 0;
        }
        .form{
            text-align: center;
        }
        .title{
            .title-text{
				height: 384px;
                h1{
                    &.home{
                        text-align: left;
                        color: #fff;
                        font-size: 70px;
                        font-weight: 700;
                        font-family: $Montserrat;
                        company{
                            color: $color;
                        }
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            left: 240px;
                            top: -20px;
                            border: 13px solid rgba(255,255,255, 0.1);
                            width: $width/5;
                            height: $height/4;
                        }
                    }
                }
            }
            .phone {
                .btn-call{
                    background: $bg-color;
                    color: $color;
                    position: absolute;
                    height: 50px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 300px;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-weight: 700;
                    font-size: 20px;
                    transition: .3s;
                    &:hover{
                        background: $color;
                        color: #fff;
                        &:before{
                            color: $color;
                            background: $bg-color;
                        }
                    }
                    &:before{
                        content: "\f095";
                        font-family: $fa;
                        font-size: 25px;
                        position: absolute;
                        top: -1px;
                        left: -2px;
                        height: 50px;
                        width: 60px;
                        background: $color;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        transition: .3s;
                    }
                }
            }
			.book{
				.btn-book{
					background: $color;
                    color: #fff;
                    position: absolute;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 300px;
                    border-radius: 10px;
                    padding: 10px 20px;
                    font-weight: 700;
                    font-size: 20px;
                    transition: .3s;
                    &:hover{
                        background: $bg-color;
                        color: $color;
                        &:after{
                            color: #fff;
                            background: $color;
                        }
                    }
                    &:after{
                        content: "-10 \f295";
                        font-family: $fa, $Oswald;
                        font-size: 18px;
                        position: absolute;
                        top: -1px;
                        right: -2px;
                        height: 50px;
                        width: 60px;
                        background: $bg-color;
                        color: $color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        transition: .3s;
                    }
				}
			}
        }
        
    }
    &.news{
        height: $height/2;
        background: $bg-color;
    }
	&.payments{
		height: $height/2;
		text-align: center;
		background: url("../img/bg/payments.jpg") no-repeat;
		background-size: cover;
		.pay{
			text-align: center;
		}
	}
    &.app{
        
    }
	&.company{
		background: url("../img/bg/podjetja.jpg") no-repeat;
		background-size: cover;
	}
}
